<%- layout('./layout/boilerplate') %>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= err.statusCode %> Error</h4>
 
    <% if (process.env.NODE_ENV !== 'production') { %>
        <p><%= err.stack %></p>
    <% } else { %>
        <p>Something went wrong</p>
    <% } %>
    <hr>
    <p class="mb-0">Please check your request and try again.</p>
</div>