<%- layout('./layout/boilerplate') %>
    <h1>New Campground</h1>
    <form action="/campgrounds" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="campground[title]">
        <label for="location">Location</label>
        <input type="text" name="location" id="campground[location]">
        <button type="submit">Submit</button>
    </form>